:root {
  --base-font: 18px;
}

* {
  font-weight: 400;

  &,
  &:after,
  &:before {
    box-sizing: border-box;
  }

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

a {
  color: blue;
  &:hover {
    color: red;
  }
}

header,
footer,
section {
  margin-bottom: 1.5em;
}

footer {
  text-align: right;
}

p,
li {
  margin: 0;
  margin-bottom: 0.25em;
}

ul {
  list-style: none;
  padding: 0;
}

h1 {
  font-size: 1em;
}

h1,
a {
  font-style: italic;
}

body {
  font-family: 'Times New Roman', 'STIX Two Text', serif;
  padding: 0;
  margin: 0.5em;
  font-size: clamp(var(--base-font), 4vw, 48px);
  line-height: 1.25;
  max-width: 70ch;
}

img {
  display: inline-block;
  height: 1rem;
  display: inline-block;
  height: 1em;
  vertical-align: text-bottom;
}
